* {
  margin: 0 auto;
  padding: 0;
}
/* Draft Container */

.align-right div {
  text-align: right;
}
.align-center div {
  text-align: center;
}
.align-left div {
  text-align: left;
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: "Georgia", serif;
  font-size: 14px;
  padding: 15px;
  /* margin: 50px auto; */
  max-width: 70%;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
  height: 80vh;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: "Hoefler Text", "Georgia", serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: "Inconsolata", "Menlo", "Consolas", monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
  display: inline-block;
  margin-right: 3px;
}

.RichEditor-styleButton {
  color: #000;
  cursor: pointer;
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  margin-right: 1px;
  border-radius: 5px;
}

.RichEditor-styleButton:hover {
  background: #eee;
}

.RichEditor-activeButton {
  background: #8ab3ff;
  color: #255ecc;
}

.color-controls {
  display: inline-block;
}

.paragraph-controls {
  display: inline-block;
  margin-right: 0.5em;
}

.dropdown-menu.show {
  padding: 0;
  min-width: 6.1em;
  max-width: 6.1em;
}

.Mutation-controls {
  display: inline-block;
}

.dropdown-selection {
  display: block;
  text-align: center;
  cursor: pointer;
}

.dropdown-selection:hover {
  background: #eee;
}

.dropdown-selection-color {
  height: 15px;
  width: 15px;
  border-radius: 15px;
  margin: 2px;
  display: inline-block;
  margin-bottom: 2px;
}

.dropdown-selection-color:hover {
  border: 1px solid dodgerblue;
  outline: none;
  box-shadow: 0 0 2px dodgerblue;
  cursor: pointer;
}

.dropdown-btn {
  padding: 0.3em;
  border-radius: 5px;
  background: transparent;
  border: 0px solid #ffffff;
}

.dropdown-btn:hover {
  background: #eee;
}

.align-btn {
  background: transparent;
  border: 0;
  margin-left: 4px;
  height: 1.5em;
  width: 1.5em;
  border-radius: 5px;
}

.align-btn:hover {
  background: #eee;
}

/* User portal CSS Start */
.portal-content {
  margin: 20px;
  font-size: 1rem;
}
.portal-content h2 {
  font-size: 1.2rem;
}
.portal-content div {
  margin: 15px 0;
}
.portal-content button {
  background-color: plum;
  width: 60px;
  color: white;
  border-radius: 10px;
}
/* User portal CSS End */

/* Doc editor CSS begin */
.doc-editor-container {
  margin: 0 30px;
  text-align: center;
  margin: 50px auto;
}
/* Doc editor CSS End */
